<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:pages="http://pagesdialect.sourceforge.net" lang="en">

<head />

<body>
	<div th:fragment="liste">

		<div class="container">
			<div th:if="!${#lists.isEmpty(cles)}" class="box-body table-responsive no-padding">
			
				<div th:replace="commun :: messagesalertes">&nbsp;</div>
			
				<table class="table table-hover">
					<thead>
						<tr>
							<th th:text="#{cle.version}" pages:trier="version">Version</th>
							<th th:text="#{cle.statut}" pages:trier="statut">Statut</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="cle : ${cles}" pages:paginer="5">
							<td th:text="${cle.version}"></td>
							<td th:text="#{${'cle.statut.' + cle.statut}}"></td>
							<td class="icon-incolore">
								<button class="btn btn-success btn-xs"
									th:onClick="'javascript:promouvoirCle(\'' + ${cle.collection} + '\', \'' + ${cle.version} + '\');'">
									<i title="promouvoir" class="glyphicon glyphicon-chevron-up"></i>
								</button>
								<button class="btn btn-success btn-xs"
									th:onClick="'javascript:revoquerCle(\'' + ${cle.collection} + '\', \'' + ${cle.version} + '\');'">
									<i title="révoquer" class="glyphicon glyphicon-chevron-down"></i>
								</button>
								<button class="btn btn-danger btn-xs"
									th:onClick="'javascript:supprimerCle(\'' + ${cle.collection} + '\', \'' + ${cle.version} + '\');'">
									<i title="supprimer" class="glyphicon glyphicon-erase"></i>
								</button>
							</td>

						</tr>
					</tbody>
				</table>
			</div>
			<div th:if="${#lists.isEmpty(cles)}" class="box-body table-responsive no-padding">
				<p th:utext="#{cles.vide}">Veuillez cliquer sur une collection...</p>
			</div>
		</div>
	</div>
</body>
</html>